@import url(_reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(to bottom, #01080E, #041832);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 0 2rem;
}

@media screen and (min-width: 1400px) {
    .container {
        padding: 0 calc((100vw - 1200px) / 2);
    }
}

/* --- Header Section --- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #144480;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 1400px) {
    .header__actions {
        gap: 2.8125rem;
    }
}

/* --- Main Layout --- */
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

/* --- Chat Area --- */
.chat {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 10rem - 5rem);

    scrollbar-width: none;
    overflow-y: scroll;
}

.chat::-webkit-scrollbar {
    display: none;
}

.chat__bubble {
    max-width: calc(100% - 3.5rem);
    width: fit-content;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 1.375rem;
    margin: 1.5rem 0;
    position: relative;
}

@media screen and (min-width: 1400px){
    .chat__bubble {
        max-width: 60%;
    }
}

.chat__bubble--bot {
    background-color: #4A42B8;
}

.chat__bubble--bot::after {
    content: "";
    display: block;

    height: 2.5rem;
    width: 2.5rem;

    position: absolute;
    top: 0;
    right: calc(-2.5rem - 1rem);

    background-image: url(../img/icone-chatbot.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.chat__bubble--user {
    border: 1px solid #7B71FF;
    align-self: flex-end;
}

.chat__bubble--user::before {
    content: "";
    display: block;

    height: 2.5rem;
    width: 2.5rem;

    position: absolute;
    top: 0;
    left: calc(-2.5rem - 1rem);

    background-image: url(../img/icone-perfil.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* --- Input Area --- */
.input-area {
    height: 10rem;
    position: relative;
    display: flex;
    gap: 1.5rem;
    justify-content: stretch;
    align-items: center;
    border-top: 1px solid #144480;
}

.input-area__container {
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
    width: 100%;

    padding: 0 0.5rem;

    background-color: #144480;
    border: 1px solid #0C305C;
    border-radius: 4rem;
}

.input-area__field {
    height: 4rem;
    width: 100%;

    background-color: transparent;
    font-size: 1.375rem;
    color: #FFFFFF;
    padding-left: 20px;
}

.input-area__field::placeholder {
    color: #FFFFFF;
}

.input-area__send-audio {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 4rem;

    background-color: #1C5296;
    border: 1px solid #0C305C;
    border-radius: 50%;
}

.input-area__feedback {
    position: absolute;
    bottom: 23px;
    right: calc(2rem + 5.5rem);
}

@media screen and (min-width: 1400px) {
    .input-area__feedback {
        right: calc((100vw - 1200px) / 2 + 5.5rem);
    }
}

/* --- Icons --- */
.icon {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-position: center;
    background-repeat: no-repeat;
}

.icon--send-audio {
    background-image: url(../img/icone-audio.svg);
}

.icon--more-options {
    background-image: url(../img/icone-mais.svg);
}

.icon--send {
    background-image: url(../img/icone-enviar.svg);
}
